*{
    margin: 0;
    padding:0;
	font-family: 'Mulish', sans-serif;
	font-weight: 500 !important;

}
body{
    background: linear-gradient(60deg,
	red,
	#FF00FF,
	#4B0082,
	#48D1CC);
    background-size: 400% 400%;
    animation: gradient 20s infinite;
    height: 100vh;
}
@keyframes gradient{
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.container-md{
	width: 40%;
	background: transparent !important;
	box-shadow: 0px 0px 15px 15px rgba(255, 255, 255, 0.6);
}



.py-3{
	color:rgba(250, 235, 215, 0.7);
	text-decoration: underline;
}

.footer{
	font-size: 1.3rem;
	
}

.footer>a{
	color:wheat;
}

.footer:hover{
	text-shadow: 0 0 6px aqua,
    0 0 10px aquamarine,
    0 0 21px aquamarine,
    0 0 78px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

.icons{
	margin-left: 370px;
}

@media screen and (max-width:590px){
	.container-md{
		width: 80%;
		height: 90vh;
	}

}
